article {
    outline: 2px solid orange;
    box-shadow: 0 10px 8px orange;
    padding: 1em;
}
article h2{
    color: #21468b;
}
article span{
    color: #ae1c28;
    font-weight: bold;
}
img[alt = flag-image]{
    width: 30px;
}
form{
    display: flex;
    align-items: center;
    flex-direction: column;
}
input{
    padding: 0.5em;
}
input:focus{
    outline: 2px solid black;
}
button:hover{
    background: black;
    color: white;
    cursor: pointer;
}
#warning{
    color: red;
}